.subscribe {
  input {
    width: calc(100% - 2em);
    padding: 1em;
    font-family: 'Montserrat';
    margin-bottom: 1em;
  }

  button {
    cursor: pointer;
    width: 100%;
    background: $submit-btn-bg-color;
    color: $submit-btn-color;
    padding: 1em;
    border: none;
    font-family: 'Montserrat';
  }
}
